
@model List<Blog.Models.Post>

<h2>Lista de Posts</h2>

@Html.ActionLink("Novo", "Novo")

<table style="border: 1px solid black">
    <thead>
        <tr>
            <!-- TH significa head, que é o cabeçalho -->
            <th style="border: 1px solid black">Título</th>
            <th style="border: 1px solid black">Resumo</th>
            <th style="border: 1px solid black">Categoria</th>
            <th style="border: 1px solid black">Publicado</th>
            <th style="border: 1px solid black" colspan="2">Ações</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td style="border: 1px solid black">
                    @Html.ActionLink(post.Titulo, "Visualiza", new { id = post.Id })

                    @*<a href="/post/visualiza/@post.Id">
                            @post.Titulo
                        </a>*@
                </td>
                <td style="border: 1px solid black">@post.Resumo</td>
                <td style="border: 1px solid black">@post.Categoria</td>
                <td style="border: 1px solid black">
                    @if (post.Publicado)
                    {
                        @Html.Raw(string.Format("{0:dd/MM/yyyy}", post.DataPublicacao))

                    }
                    else
                    {
                        @Html.Raw("Não")
                    }

                </td>
                @* <td style="border: 1px solid black"><a href="/post/delete/@post.Id">Delete</a> </td>*@
                <td style="border: 1px solid black">
                    @Html.ActionLink("Remover", "Delete", new { id = post.Id })
                </td>
                @*<td style="border: 1px solid black"><a href="/post/publicapost/@post.Id">Publicar</a> </td>*@
                <td style="border: 1px solid black">
                    @Html.ActionLink("Publicar", "publicapost", new { id = post.Id })
                </td>

            </tr>

        }
    </tbody>
</table>

@*<a href="@Url.Action("Novo", "Post")">Novo</a>*@


