@model Blog.Models.Post

<form method="post" action="/Post/Adiciona">
    <label>
        Título: <input name="titulo" value="@Model.Titulo" required/>
    </label>
    @Html.ValidationMessage("titulo")

    <label>
        Resumo: <input name="resumo" value="@Model.Resumo" required maxlength="50" />
    </label>
    @Html.ValidationMessage("resumo")

    <label>
        Categoria: <input name="categoria" value="@Model.Categoria" />
    </label>
    @Html.ValidationMessage("categoria")

    <input type="submit" value="Cadastrar" />
</form>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script>
    $('form').validade();
</script>