@model Blog.Models.Post

<form method="post" action="/Post/Altera">
    <input type="hidden" name="id" value="@Model.Id" />
    <input type="hidden" name="datapublicado" value="@Model.DataPublicacao" />
    <input type="hidden" name="publicado" value="@Model.Publicado.ToString()" />

    <label>
        Título: <input name="titulo" value="@Model.Titulo" required />
    </label>
    @Html.ValidationMessage("titulo");

    <label>
        Resumo: <input name="resumo" value="@Model.Resumo" required maxlength="50" />
    </label>
    @Html.ValidationMessage("resumo");

    <label>
        Categoria: <input name="categoria" value="@Model.Categoria" />
    </label>
    @Html.ValidationMessage("categoria");

    <input type="submit" value="Alterar" />
</form>
<script src="~/lib/jquery/jquery.js"></script>
<script src="~/lib/jquery-validate/jquery.validate.js"></script>
<script>
    $('form').validade();
</script>